{% extends 'yummerapp/base.html' %}

{% block title %}Formulário de Reserva{% endblock %}

{% block content %}
    <h1>Formulário de Reserva</h1>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {% if field.name == 'data' %}
                    <input type="text" name="{{ field.name }}" class="form-control datepicker" id="id_{{ field.name }}">
                {% elif field.name == 'hora_inicio' or field.name == 'hora_fim' %}
                    <input type="text" name="{{ field.name }}" class="form-control timepicker" id="id_{{ field.name }}">
                {% else %}
                    {{ field }}
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-success">Salvar</button>
    </form>
{% endblock %}

{% block scripts %}
<script>
    flatpickr(".datepicker", {
        dateFormat: "d/m/Y",
    });
    flatpickr(".timepicker", {
        enableTime: true,
        noCalendar: true,
        dateFormat: "H:i",
        time_24hr: true,
    });
</script>
{% endblock %}